html {
  background-image: url("containerPic.jpg");
}

#container {
  height: 800px;
  width: 800px;
  background-color: rgb(206, 151, 169);
  border: 10px solid rgba(0, 0, 0, 0.3);
  background-clip: padding-box;
}

div {
  height: 200px;
  width: 200px;
  background-color: black;
  margin: 50px;
}

#one {
  border-radius: 50%;
  background-image: radial-gradient(white 30%, transparent 0%),
    radial-gradient(#ffffff 30%, transparent 0%);
  background-size: 10%;
  background-position: 0 0, 50px 50px;
}

#two {
  position: relative;
  left: 250px;
  background: repeating-linear-gradient(
    45deg,
    #000000,
    #000000 30px,
    #ffffff 30px,
    #ffffff 60px
  );
}

#three {
  position: relative;
  left: 500px;
}

#three:hover {
  position: relative;
  left: 400px;
  transform: rotate(360deg);
  width: 300px;
  background-color: white;
  transition: transform 2s, width 2s, background-color 2s, left 2s;
}
